.box {
    background: #fff;
    border: 1px solid #999;
    border-radius: 3px;
    width: 1000px;
    height:500px;
    margin: 10px;
    padding: 10px;
    float: left;

    overflow: 'auto';
     padding: '0';
     border: "1px solid #999";
  }
  .vm {
    background: #fff;
    border: 1px solid #999;
    border-radius: 3px;
    width: 1000px;
    height:500px;
    margin: 10px;
    padding: 10px;
    float: left;

    overflow: 'auto';
     padding: '0';
     border: "1px solid #999";
  }
  .hub {
    background: #fff;
    border: 1px solid #999;
    border-radius: 3px;
    width: 1000px;
    height:500px;
    margin: 10px;
    padding: 10px;
    float: left;

    overflow: 'auto';
     padding: '0';
     border: "1px solid #999";
  }

  .inner{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .row{
 

  }

  .group1{
    max-width: 40%;
  }

  .group2{
    max-width: 50%;
  }